:root {
    --blue-purple: hsl(246, 80%, 60%);
    --orange: hsl(15, 100%, 70%);
    --blue: hsl(195, 74%, 62%);
    --pink: hsl(348, 100%, 68%);
    --green: hsl(145, 58%, 55%);
    --purple: hsl(264, 64%, 52%);
    --yellow: hsl(43, 84%, 65%);

    --dark-navy: hsl(226, 43%, 10%);
    --navy: hsl(235, 46%, 20%);
    --light-blue-purple: hsl(235, 45%, 61%);
    --light-navy: hsl(236, 100%, 87%);

    --dark-blue-purple: hsl(236, 41%, 34%);
    --white: hsl(0, 0%, 100%);

    --main-font-family: "Rubik", sans-serif;
}